.keyboard{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40x 0px;
    background: #004234;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    user-select: none;
    transition: bottom 0.4;

}
.keyboard--hidden{
    bottom: -100%;

}

.keyborad__keys{
    text-align: center;
}
.keyboard__key{
    height: 45px;
    width: 6%;
    max-width: 90x;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05 rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    padding: top;
    -webkit-tab-highlight-color:transparent ;
    position: relative;
}
.keyboard__key:active{
    background: rgba(255, 255, 255, 0.12);

}
.keyboard__key--wide{
    width: 12%;
}
.keyboard__key--extra-wide{
    width: 36%;
    max-width: 500px;

}
.keyboard__key--activatible::after{
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;

}
.keyboard__key--activate:after{
    background: green;
}
.keyboard__key--dark{
    background: rgba(0, 0, 0, 0.25);
}